*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    width: 100%;
    color:aliceblue;
    background-image: url("./img/backgroundspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0.9rem;
}

@font-face {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	src: url(sensation_light.woff);
}

ul {
    list-style-type: none;
}

h2, h3 {
    color: aquamarine
}

.section {
    box-sizing: border-box;
    width: 95%;
    height:100%;
    margin: auto;
    margin-top: 10px;
}



/*----Header logo and Navigation*/
.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/*----logo*/
.logo {
    width: 100px;
    border-radius: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navcontrol {
    display: none;
}

.nav li {
    padding: 10px 20px;
}

.nav li:hover {
    font-size: 1.25rem;
    border-bottom: 1px solid aquamarine;
}

a {
    text-decoration: none;
    color:white ;
}



/*----Body Section(intro, welcome, blog and Events)*/
.bodyy {
    display:flex;
    justify-content: space-between;
}

.main {
    box-sizing: border-box;
    width: 60%;
}

.intro h1 {
    font-size:4rem;
    margin: 20px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.welcome {
    margin: 25px;
}

.blog{
    margin: 50px;
}

.events {
    margin: 50px;
}

.italic {
    font-style: italic;
}



/*----Explore Section (Explore, Service, Communities)*/
.another {
    margin-bottom: 30px;
}

.explore {
    background-color: white;
    color: black;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.explore:hover {
    font-size: 1.1rem;
    color: aquamarine;
}

.explore h1 {
    padding-top:  15px;
}

.services{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.serv {
    width: 100%;
}

.disappear{
    display: none;
}

.show-disappear{
    height: 100px;
    display: block;
}




/*----Footer and Section()Contact and socials*/
footer {
    width: 100%;
    text-align: center;
    margin: auto;
    
    padding: 40px;
}

.footer {
    margin: 10px;
    font-size: 1.3rem;
}

.footer a {
    margin: 20px;
}

.footer a:hover {
    font-size: 1.5rem;
    color: aquamarine;
}


/*----Screen size max-width: 760px*/
@media screen and (max-width: 760px){
    body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color:aliceblue;
    background-image: url(./img/backgroundmobile.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    }

    .navcontrol {
        display: unset;
        font-size: 1.5rem;
    }

    .navcontrol:hover {
        transform: rotate(90deg);
        color: aquamarine;
        font-size: 1.7rem;
    }

    .nav {
        justify-content:flex-end;
        flex-direction: column;
        display: none;
    }

    .intro h1 {
        font-size: 2.7rem;
    }

    .bodyy{
        display: unset;
        width: 100%;
    }
    .main{
        width: 100%;
        margin: auto;
    }

    .blog {
        margin: unset;
        margin-top: 50px;
    }

    .events {
        margin: unset;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.1rem;
    }

    .explore {
        width: 110px;
        height: 110px;
        font-size: 0.7.5rem;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .explore:hover {
        font-size: 0.9rem;
    }

    .show-disappear{
        height: 100px;
        display: block;
        margin-bottom: 50px;
        margin-top: 0;
    }
}


/*----Screen size max-width: 450px*/
@media screen and (max-width: 450px){
    body {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color:aliceblue;
        background-image: url(./img/backgroundmobile.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }
    .navcontrol {
        display: unset;
        font-size: 1.5rem;
    }

    .navcontrol:hover {
        transform: rotate(90deg);
        color: aquamarine;
        font-size: 1.7rem;
    }

    .nav {
        justify-content:flex-end;
        flex-direction: column;
        display: none;
    }

    .intro h1 {
        font-size: 2.7rem;
    }

    .main{
        width: 100%;
        margin: auto;
    }

    .blog {
        margin: unset;
        margin-top: 50px;
    }

    .events {
        margin: unset;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.1rem;
    }

    .show-disappear{
        height: 100px;
        display: block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}